body{
    display:flex;
    font-family:'Varela Round';
    cursor:default;
    text-decoration: none;
    -webkit-user-drag: none;
    width: 100%;
    overflow: hidden;
    height:100%;
    background-color: cyan;
    user-select:none;
}
#wigglyBoi{
    width: 150px;
    height:150px;
    border-radius: 5px;
}
#wigglyBoi:hover{
    scale:1.1;
    rotate:2deg;
}
#wigglyBoi:active{
    rotate:-2deg;
    scale:1.3
}
#leftMain{
    font-size: 20px;
    position: absolute;
    top:0%;
    text-align: center;
    left:0%;
    width:50%;
    height:100%;
    transform: -50% -50%;;
}
#rightMain{
    font-size: 20px;
    position: absolute;
    top:0%;
    text-align: center;
    right:00%;
    height:100%;
    width:50%;
    transform: -50% -50%;;
}
#fishBuilding{
    display: none;
}
.milestone{
    width: 300px;
    height:200px;
    background-image:url('Images/Goofy Images/Butter_1.png');
    background-size:cover;
    border-radius:10px;
    border:5px solid green;
    text-align: center;
    display:block;
    background-color: rgb(67, 241, 99);
}
.milestoneSpacer{
    width:25px;
    height:100px;
}
.upgradeTableRow{
    width:100%;
    align-items: center;
    justify-items: center;
    height:50%;
    display:block;
}
#milestone4{
    background-image:url("Images/Goofy Images/Butter_Penguin.png");
}
#milestone3{
    background-image:url("Images/Goofy Images//Not_Butter.png");
}
#milestone2{
    background-image:url("Images/Goofy Images/Kangaroo_Butter.png");
}
#butterTab{
    text-align: center;
}
.building{
    width:100%;
    display: flex;
    height:10%;
}
.gameTab{
    height:90%;
    width:100%;
    position: absolute;
    display:block;
    top:0%;
    visibility: hidden;
    left:0%;
}
#homeTab{
    visibility: visible;
}
#press{
    width:500px;
    height:300px;
    background-color: tan;
    border:10px solid rgb(182, 156, 122);
    text-align: center;
    justify-items: center;
    display:block;
    position: absolute;
    top:50%;
    left:50%;
    translate:-50% -50%;
    align-items: center;
}
#fishTacoButton{
    background-color: rgb(131, 111, 85);
    border:5px solid rgb(90, 80, 66);
    font-size:1.3rem;
    font-weight: bold;
    color:white;
}
#upgradesTab{
    visibility: hidden;
}
#settingsTab{
    visibility: hidden;
}
.upgrade{
    background-color: rgb(147, 147, 225);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    transition :rotate 0.3s, filter 0.3s;
    border:5px solid rgb(47, 47, 110);
}
.upgrade:hover{
    filter:brightness(80%);
    rotate: 4deg;
}
#navBar{
    width: 100%;
    height:10%;
    text-align: center;
    position:absolute;
    bottom:-1%;
    left:0%;
    background-image: linear-gradient(to right, rgb(63, 103, 163), rgb(72, 113, 174), rgb(63, 103, 163));
}
#navBarText{
    display:inline-flex;
    align-items: center;
    height:100%;
    width:100%;
    justify-content: center;
    font-size: 3vh;
}
#keybindsSettingUI{
    visibility: hidden;
    width:40%;
    height:90%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(57, 57, 209);
    border: 10px solid rgb(46, 46, 136);
    border-radius: 5px  ;
    display:block;
}
#closeSettingButton{
    background-color: transparent;
    color:cyan;
    position: relative;
    font-size: 2rem;
    top:0%;
    left: -45%;
    width:10%;
    height:10%;
}
.settingsButton{
    width:100px;
    height:100px;
    font-size: 1rem;
    color:white;
    background-color: rgb(72, 72, 206);
    border:3px solid rgb(26, 26, 102);
}
.statDisplayWithImage{
    display:flex;
}
.textCentered{
    justify-content: center;
    align-items: center;
    text-align: center;
}
 #gameNotificationDisplay{
    position:absolute;
    bottom:10%;
    right:0%;
    z-index: 1;
    width: 15%;
    opacity: 0;
    font-size: 2.5vh;
    min-height: 5%;
    font-weight:bold;
}
@keyframes messageAlert{
    0%{
        opacity:1;
    }
    50%{
        opacity:0.5
    }
    100%{
        opacity:0;
        animation-play-state: paused;
    }
}
@keyframes messageSlideIn{
    0%{
        right:-50%;
    }
    100%{
        right:0%;
        animation-play-state: paused;
    }
}